database:
  debug: false
  hostname: localhost
  name: quicksend
  password: quicksend
  port: 5432
  username: quicksend

domain: localhost:3000

limits:
  maxFileSize: 104857600

port: 3000

purge:
  limit: 250

recaptcha:
  secret: CHANGE_THIS
  url: https://www.recaptcha.net

redis:
  hostname: localhost
  password: quicksend
  port: 6379

secrets:
  sessions: CHANGE_THIS

smtp:
  from: CHANGE_THIS
  hostname: CHANGE_THIS
  password: CHANGE_THIS
  port: 465
  secure: true
  username: CHANGE_THIS

storage:
  manager: disk
  options:
    directory: /uploads

throttler:
  limit: 250
  ttl: 60
